:host {
  
  font-family: "inter-bold", "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol", "Noto Color Emoji";

}

div {

  display: block;
  unicode-bidi: isolate;

}

menu, ol, ul {

  list-style: none;
  margin: 0;
  padding: 0;

}

ul {

  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  unicode-bidi: isolate;

}

button, input, optgroup, select, textarea {

  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
  margin: 0;
  padding: 0;

}

.ease-in-out {

  animation-timing-function: cubic-bezier(.4,0,.2,1);

}
.duration-300 {

  animation-duration: .3s;

}
.ease-in-out {

  transition-timing-function: cubic-bezier(.4,0,.2,1);

}
.duration-300 {

  transition-duration: .3s;

}

.transition-all {

  transition-property: all;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .15s;

}

/* Navbar con trasparenza e sfocatura */
.navbar {

  padding-top: 0.5em;
  padding-bottom: 0.5em;
  background: rgb(0,78,189);
  background: radial-gradient(circle, rgba(0,78,189,0.6643032212885154) 5%, rgba(0,115,189,0.8687850140056023) 65%);
  box-shadow: 0 14px 14px -14px rgba(7, 49, 147, 0.667); /* Box shadow */
  -webkit-transition: background-color 0.2s ease, box-shadow 0.3s ease; /* Safari/Chrome */
  -moz-transition: background-color 0.2s ease, box-shadow 0.3s ease;   /* Firefox */
  -o-transition: background-color 0.2s ease, box-shadow 0.3s ease;    /* Opera */
  transition: background-color 0.2s ease, box-shadow 0.3s ease;       /* Standard */

  position: fixed;

  top: 0;
  right: 0;
  left: 0;

  z-index: 10;
  width: 100%;
  transition: all 0.3s ease-in-out;
  flex: none;
  opacity: 1;

}

.navbar::before {

  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  -webkit-backdrop-filter: blur(10px); /* Safari support */
  backdrop-filter: blur(10px); /* Optional blur effect */
  opacity: 1;

}

.sticky {

  position: sticky; /* Mantiene l'elemento fisso durante lo scroll */
  top: 0;
  z-index: 12345;
  opacity: 1;

}

/* Navbar Flex */
.navigation {
  display: flex; /* Default display */
  justify-content: space-between; /* Spaziatura tra gli elementi */
  align-items: center; /* Allineamento verticale */
  width: auto;
  height: 40px;
  position: relative;
  transition: all 0.3s ease-in-out; /* Transizione fluida */
  margin-left: 20px;
  margin-right: 30px;
  padding: 1rem; /* Padding equivalente a p-4 */
  opacity: 1;
  backdrop-filter: blur(0px); /* Effetto sfocato */
  -webkit-backdrop-filter: blur(0px); /* Prefisso per Safari */


}

.navigation.hidden {
  display: none; /* Nasconde la navigazione sui dispositivi con larghezza inferiore a XL */
}

@media (min-width: 1280px) {
  /* Media query per schermi XL e superiori */
  .navigation.xl-flex {
    display: flex; /* Mostra la navigazione su schermi XL */
  }
}

.navigation.sticky {
  position: sticky; /* Fissa la navigazione durante lo scroll */
  top: 0; /* Posiziona la barra in alto */
  left: 0; /* Posiziona la barra a sinistra */
  z-index: 12345; /* Imposta un livello di sovrapposizione alto */
  width: 100%; /* Imposta la larghezza al 100% */
}

.navigation::before {
  content: ""; /* Crea un pseudo-elemento */
  position: absolute; /* Posiziona il pseudo-elemento assolutamente rispetto al contenitore */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Posiziona il pseudo-elemento dietro il contenuto */
  backdrop-filter: blur(20px); /* Aggiunge un effetto di sfocatura */
  -webkit-backdrop-filter: blur(20px); /* Prefisso per Safari */
  opacity: 1;
}

.navigation.transition-all {
  transition: all 0.3s ease-in-out; /* Transizione animata */
}

/* Logo */
.logo-container {
  display: flex; /* Imposta il contenitore come flexbox */
  justify-content: flex-start; /* Allinea gli elementi all'inizio lungo l'asse principale */
  align-items: center; /* Allinea gli elementi al centro lungo l'asse trasversale */
  flex-shrink: 0; /* Previene il restringimento dell'elemento */
  width: 100%; /* Imposta la larghezza al 100% del contenitore */
  height: 100%;
  transition: all 0.3s ease-in-out; /* Aggiunge una transizione per eventuali cambiamenti */
  margin-right: 1rem; /* Aggiunge un margine destro di 1rem */
  padding-top: 0.3125rem; /* Aggiunge padding sopra di 0.3125rem */
  padding-bottom: 0.3125rem; /* Aggiunge padding sotto di 0.3125rem */
  position: relative; /* Imposta la posizione come relativa */
}

@media (min-width: 1280px) {
  /* Stile per schermi XL e superiori */
  .logo-container {
    width: fit-content; /* Imposta la larghezza in base al contenuto per schermi XL */
  }
}

@media (min-width: 1024px) {
  /* Media query per schermi LG e superiori */
  .logo-container {
    width: 110px; /* Larghezza specifica della immagine */
    height: 75.97px; /* Altezza specifica della immagine */
  }
}

/* a */
.logo-link {
  display: inline-block; /* Garantisce che l'ancora rispetti le dimensioni del contenitore */
  height: 75.97px; /* Altezza specifica della immagine */
  width: 110px; /* Larghezza specifica della immagine */
  position: relative; /* Imposta la posizione per eventuali contenuti interni */
  text-decoration: none; /* Rimuove sottolineatura del link */
}

.logo-img {
  width: 110px;
  height: auto;
  position: absolute;
  top: 0; /* Allinea la immagine alla parte superiore del contenitore */
  left: 0; /* Allinea la immagine alla parte sinistra del contenitore */
  object-fit: contain; /* Mantiene le proporzioni dell'immagine */
  color: transparent; /* Colore trasparente (per ottimizzazione) */
}

/* Menu e icona dropdown */
.menu-container {
  display: flex; /* Imposta il layout flex */
  justify-content: flex-start; /* Allinea gli elementi all'inizio lungo l'asse principale */
  align-items: center; /* Allinea gli elementi al centro lungo l'asse trasversale */
  flex-shrink: 0; /* Impedisce che l'elemento si restringa */
  width: 100%; /* Imposta la larghezza al 100% del contenitore */
}

@media (min-width: 1280px) {

  /* Media query per schermi XL e superiori */
  .menu-container {
    width: fit-content; /* Adatta la larghezza al contenuto per schermi XL */
  }

}

/* Bottoni Menu */
.nav__items {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav__items a:hover {
  color: rgba(255, 255, 255, 0.8); /* Lighter hover effect */
  transition: color 0.3s ease;
}

.nav__item {
  margin-left: 20px;
}

/* Bottoni Menu */

.nav__link {
  
  color: var(--shades); /* Colore variabile per il testo */
  text-decoration: none; /* Rimuove la sottolineatura */
  padding: 10px 15px; /* Spaziatura interna */
  display: flex; /* Allinea gli elementi come flexbox */
  align-items: center; /* Centra verticalmente il contenuto */
  font-size: 0.99rem; /* Dimensione del testo */
  border: none; /* Rimuove bordi di default */
  background: none; /* Rimuove lo sfondo di default */
  
  transition: background-color 0.3s ease, color 0.3s ease; /* Transizione fluida */

  cursor: pointer; /* Imposta il cursore a mano */

  font-family: "inter-bold", "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";

  border-radius: 20px;

}

.nav__button:hover {
  background-color: rgba(56, 139, 216, 0.2); /* Sfondo grigio chiaro al passaggio */
}

.nav__button:focus {
  outline: none; /* Rimuove il contorno di default */
  background-color: rgba(128, 128, 128, 0.3); /* Sfondo più scuro */
}

.nav__button:disabled {
  pointer-events: none; /* Disabilita interazioni */
  opacity: 0.5; /* Riduce l'opacità */
}

.nav__icon {
  margin-left: 5px; /* Spaziatura tra testo e icona */
  width: 16px; /* Larghezza dell'icona */
  height: 16px; /* Altezza dell'icona */
  transition: transform 0.3s ease; /* Transizione fluida per la rotazione */
}

.nav__button[data-state="open"] .nav__icon {
  transform: rotate(180deg); /* Ruota l'icona quando aperta */
}

/* Bottone Flag */

.button-flag {
  display: flex; /* Imposta il layout flexbox */
  align-items: center; /* Centra verticalmente il contenuto */
  justify-content: space-between; /* Spazia gli elementi ai lati */
  font-size: 0.875rem; /* Imposta il testo a una dimensione piccola (14px) */
  margin-left: 0.5rem; /* Margine a sinistra */
  margin-right: 1rem; /* Margine a destra */
  height: 100%; /* Altezza al 100% del contenitore */
  width: fit-content; /* Larghezza adattata al contenuto */
  cursor: pointer; /* Cambia il cursore in pointer */
  border-radius: 1.25rem; /* Arrotonda gli angoli (20px) */
  border: 2px solid #F5F5F5; /* Colore del bordo */
  background-color: transparent; /* Sfondo trasparente */
  padding: 0.625rem; /* Spaziatura interna (10px) */
  transition: border-color 0.3s ease; /* Transizione per il bordo */
}

.button-flag:hover {
  border-color: #ff7a00; /* Cambia il colore del bordo al passaggio */
  box-shadow: 0 0 3px 0 #ffae0098;
}

.button-flag:focus {
  outline: none; /* Rimuove il contorno di default */
  box-shadow: 0 0 0 2px #ff7a00, 0 0 0 4px #F5F5F5; /* Evidenziazione al focus */
}

.button-flag:disabled {
  cursor: not-allowed; /* Cambia il cursore in "non consentito" */
  opacity: 0.5; /* Riduce l'opacità */
}

.button-flag::placeholder {
  color: var(--muted-foreground, #6c757d); /* Colore del testo placeholder */
}

/* Bottoni menu dx - register */

.button-register {
  position: relative;

  font-size: 16px;
  text-transform: uppercase;
  text-decoration: bold;
  align-content: center;
  align-items: center;
  text-align: center;

  padding: 10px 25px;

  display: inline-flex;
  cursor: pointer;

  border-radius: 20px;
  transition: all 0.3s;
  border: none;

  font-family: "inter-bold", "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";

  font-weight: 500;

  color: #ffffffe0;
  background: var(--secondary);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.116);

  height: 33px;

}

.button-register:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  background-color: #ffbf00;
  margin-left: 22px;
}

.button-register:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(19, 56, 119, 0.2);
}

.button-register::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.button-register::after {
  background-color: #ffb000 !important;
}

.button-register:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

/* Lucchetto */

.lock-container {
  fill: none;
  transform: translate3d(0, 0, 0);
  margin-top: 0px;
  margin-bottom: 0px;
  height: 30px;
  width: 30px;
  margin-right: 2px;
}

.lock-container .lockb {
  fill: #ffffffe0;
  fill-rule: evenodd;
  clip-rule: evenodd;
  transform: rotate(0); /* Partenza chiuso */
  transform-origin: 14px 22px;
  transition: transform 0.2s ease;
}

.lock-container .lock {
  stroke: #ffffffe0;
  stroke-width: 4;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-dasharray: 48; /* Partenza chiuso */
  transition: stroke-dasharray 0.2s ease;
}

.lock-container .bling {
  stroke: #ffffffe0;
  stroke-width: 2.5;
  stroke-linecap: round;
  stroke-dasharray: 3;
  stroke-dashoffset: 9; /* Partenza chiuso */
  transition: stroke-dashoffset 0.2s ease;
}

/* Stato aperto */
.lock-open .lock-container .lockb {
  transform: rotate(8deg); /* Si apre */
  transform-origin: 14px 20px;
}

.lock-open .lock-container .lock {
  stroke-dasharray: 36; /* Si apre */
}

.lock-open .lock-container .bling {
  stroke-dashoffset: 15; /* Si apre */
}

@keyframes bling-animation {
  50% {
    stroke-dasharray: 3;
    stroke-dashoffset: 12;
  }
  100% {
    stroke-dasharray: 3;
    stroke-dashoffset: 9;
  }
}

@keyframes locked-animation {
  50% {
    transform: translateY(1px);
  }
}

/* icona dropdown */

.dropdown-icon {
  margin-left: 5px; /* Spazio a sinistra dell'icona */
  transition: transform 0.3s ease-in-out, color 0.2s ease; /* Aggiunge una transizione fluida per rotazione e colore */
  display: none; /* Nasconde l'icona per impostazione predefinita */
  height: 1rem; /* Altezza equivalente a 4 unità (h-4) */
  width: 1rem; /* Larghezza equivalente a 4 unità (w-4) */
  flex-shrink: 0; /* Impedisce il ridimensionamento in contenitori flessibili */
  color: #F5F5F5; /* Colore bianco per l'icona */
}

@media (min-width: 1536px) {
  /* Per schermi 2XL e superiori */
  .dropdown-icon {
    display: block; /* Mostra l'icona solo su schermi 2XL e superiori */
  }
}

.group[data-state="open"] .dropdown-icon {
  transform: rotate(
    180deg
  ); /* Ruota l'icona quando lo stato del gruppo è "open" */
}

/* Media Queries per dispositivi mobili */
@media (min-width: 800px) {
  .navbar {
    flex-direction: row;
  }
}

@media screen and (max-width: 799px) {
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Trasparenza con opacità 50% */
    backdrop-filter: blur(10px); /* Effetto sfocato */
    -webkit-backdrop-filter: blur(10px); /* Prefisso per Safari */
    opacity: 0;
    transition: all 0.2s ease;
    box-shadow: none; /* Rimuovi la shadow per mobile */
  }

  .nav__items {
    position: absolute; /* Posiziona la lista in modo assoluto */
    top: 50%; /* Centra verticalmente */
    transform: translateY(-50%); /* Regola il posizionamento verticale */
    width: 100%; /* Larghezza completa */
    padding-left: 0; /* Rimuove la spaziatura predefinita a sinistra */
    flex: 1; /* Definisce la flessibilità dell'elemento */
    list-style: none; /* Rimuove i bullet point o numeri */
    display: flex; /* Imposta il layout flexbox */
    align-items: center; /* Allinea gli elementi al centro lungo l'asse trasversale */
    gap: 0.25rem; /* Aggiunge uno spazio uniforme tra gli elementi */
  }

  .group {
    display: inline-flex; /* Consente l'interazione con un gruppo di elementi flessibili */
  }

  /* Li menu item */
  .nav__item {

    display: block;
    width: 100%;
    text-align: right;
    margin-bottom: 10px;
    display: list-item;
    text-align: inherit;
    unicode-bidi: isolate;

  }

  .nav__link {
    display: inline-flex; /* Imposta un layout flessibile inline */
    width: max-content; /* Adatta la larghezza al contenuto */
    align-items: center; /* Allinea verticalmente gli elementi al centro */
    justify-content: center; /* Allinea orizzontalmente gli elementi */
    border-radius: 0.375rem; /* Arrotonda gli angoli */
    transition: background-color 0.2s; /* Aggiunge una transizione per i colori */
    background-color: transparent; /* Sfondo iniziale */
    color: #F5F5F5; /* Testo bianco */
    padding: 0.5rem 0.625rem; /* Aggiunge padding */
  }

  .nav__link:hover {
    background-color: rgba(
      209,
      213,
      219,
      0.5
    ); /* Sfondo grigio con opacità al passaggio del mouse */
  }

  .navbar:checked + .nav__open {
    opacity: 1;
    transform: rotate(45deg);
  }

  .nav__open {
    position: absolute;
    top: 16px;
    right: 10px;
    width: 48px;
    height: 48px;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav__open i {
    width: 20px;
    height: 2px;
    background-color: var(--secondary);
    border-radius: 2px;
  }
}

.menu-button-container-sx {
  position: relative;
}

.menu-button-container-dx {
  position: relative; /* Posizionamento relativo */
  display: flex; /* Imposta il layout flexbox */
  align-items: center; /* Centra verticalmente il contenuto */
  justify-content: flex-end; /* Allinea il contenuto all'estremità destra */
  width: 50%; /* Imposta la larghezza al 50% */
}

/* Incona Flag Lingua */

#icon-flag {
  height: 30px; /* Altezza dell'icona */
  width: 30px; /* Larghezza dell'icona */
  position: relative;
}

/* Bottone SearchBar */
.item-searchbar {
  display: flex;
  align-items: center;
}

.button-searchbar {
  width: 110px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--secondary);
  border-radius: 20px;
  color: #ffffffe0;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: bold;
  border: none;
  position: relative;
  cursor: pointer;
  transition-duration: .2s;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.116);
  font-family: "inter-bold", "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  padding: 10px;
  transition-duration: .5s;
}

.icon-searchbar {
  height: 30px;
  width: 30px;
  transition-duration: 1.5s;
  display: flex;
}

.bell path {
  fill: rgb(0, 78, 189);
}

.button-searchbar:hover {
  background-color: #ffbf00;
  transition-duration: .5s;
}

.button-searchbar:active {
  transform: scale(0.97);
  transition-duration: .2s;
}

.button-searchbar:hover .icon-searchbar {
  transform: rotate(250deg);
  transition-duration: 1.5s;
}

/* Tooltip data-title */

[data-title] {
  position: relative;
  cursor: pointer;
  border-radius: 30%;
}

[data-title]:after {
  content: attr(data-title); /* Inserisce il contenuto di data-title */
  background-color: #00FF00;
  color: #111;
  font-size: 1.2em;
  position: absolute;
  padding: 5px 10px;
  bottom: -2.5em;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  box-shadow: 1px 1px 3px #222;
  opacity: 0;
  visibility: hidden;
  border-radius: 40%;
  z-index: 9999;
  transition: opacity 0.2s ease, visibility 0.2s ease;
}

[data-title]:hover:after {
  opacity: 1;
  visibility: visible;
  border-radius: 30%;
}