.header {
	background-color: var(--primary);
	position: relative; 
	min-height: 100svh;
	z-index: 0;
}

.header h1 {
	color: var(--shades);
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%; 
	transform: translate(-50%, -50%);
}

.hidden { 
	display: none;
}

.background-video {
	position:absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%; 
	object-fit: cover; 
	opacity: 0.5;
	z-index: 0 !important;
}

.header-content {
	position: relative;
	z-index: 1;
	display: flex;
	flex-direction:column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.logo img {
	height : 400px;
	margin-top: 140px;
}

/* Bottone */ 
.button {
	padding: 1em 2em;
	border: none;
	border-radius: 20px;
	font-weight: bold;
	letter-spacing: 5px;
	text-transform: uppercase;
	cursor: pointer;
	color: var(--primary);
	transition: all 1000ms;
	font-size: 15px;
	position: relative;
	overflow: hidden;
	outline: 2px solid var(--primary);
	margin-top: 40px;
}

button:hover {
	color: #ffffff;
	transform: scale(1.1);
	outline: 2px solid var(--primary);
	box-shadow: 4px 5px 17px -4px var(--primary);
}

svg {
	fill: #004ebd;
}

button:hover svg{
	fill: #ffffff;
	transition: 1s;
}

button::before {
	content: "";
	position: absolute;
	left: -50px;
	top: 0;
	width: 0;
	height: 100%;
	background-color: var(--primary);
	transform: skewX(45deg);
	z-index: -1;
	transition: width 1000ms;
}

button:hover::before {
	width: 250%;
}