<div class="reset-password-container">
  <div class="form-header">
    <button class="close-button" (click)="closeForm()">×</button>
</div>
    <!-- Form associato al FormGroup 'resetPassForm' -->
    <form [formGroup]="resetPassForm">
      <h1>Reset Password</h1>
      <div class="input-container" [ngClass]="{'has-error': resetPassForm.get('oldPassword')?.invalid && resetPassForm.get('oldPassword')?.touched}">
        <input 
          type="{{ showPassword ? 'text' : 'password' }}"
          formControlName="oldPassword"
          placeholder="Vecchia Password"
          required
        >
        <div class="error-message" *ngIf="resetPassForm.get('oldPassword')?.invalid && resetPassForm.get('oldPassword')?.touched">
          <small *ngIf="resetPassForm.get('oldPassword')?.errors?.['required']">Vecchia password obbligatoria</small>
        </div>
      </div>
  
      <div class="input-container" [ngClass]="{'has-error': resetPassForm.get('newPassword')?.invalid && resetPassForm.get('newPassword')?.touched}">
        <input 
          type="{{ showPassword ? 'text' : 'password' }}"
          formControlName="newPassword"
          placeholder="Nuova Password"
          required
        >
        <div class="error-message" *ngIf="resetPassForm.get('newPassword')?.invalid && resetPassForm.get('newPassword')?.touched">
          <small *ngIf="resetPassForm.get('newPassword')?.errors?.['required']">Nuova password obbligatoria</small>
          <small *ngIf="resetPassForm.get('newPassword')?.errors?.['minlength']">Minimo 8 caratteri</small>
        </div>
      </div>
  
      <div class="input-container" [ngClass]="{'has-error': resetPassForm.get('confermedPassword')?.invalid && resetPassForm.get('confermedPassword')?.touched}">
        <input 
          type="{{ showPassword ? 'text' : 'password' }}"
          formControlName="confermedPassword"
          placeholder="Conferma Password"
          required
        >
        <div class="error-message" *ngIf="resetPassForm.get('confermedPassword')?.invalid && resetPassForm.get('confermedPassword')?.touched">
          <small *ngIf="resetPassForm.get('confermedPassword')?.errors?.['required']">Campo obbligatorio</small>
          <small *ngIf="resetPassForm.errors?.['mismatch']">Le password non corrispondono</small>
        </div>
      </div>
  
      <div class="button-container">
      <button type="button" (click)="toggleShowPassword()">
        {{ showPassword ? 'Nascondi' : 'Mostra' }} Password
      </button>
      <button type="submit" [disabled]="resetPassForm.invalid" (click)="onSubmit()">Reset Password</button>
    </div>
    </form>
  </div>