.reset-password-container {

  background-color: var(--card);
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  position: relative;
  overflow: hidden;

  max-height: 100%;
  max-width: 100%;

  padding: 5%;

  transition: all 0.3s ease-in-out;

}

form {
  background-color: var(--card);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-height: 100%;
  max-width: 100%;

  padding: 5%;
}

h1 {
  color: var(--primary-text);
  font-family: 'Inter-Bold';
}

span {
  font-size: 12px;
  margin-bottom: 20px;
}

.input-container {
  position: relative;
  max-width: 100%;
  margin: 6px 0;
}

input {
  background-color: var(--shades);
  border: none;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 8px;
  max-width: 100%;
  outline: none;
  padding-right: 25px; /* Make space for the eye icon */
}

@media (max-width: 1024px) {
  input {
    max-width: 80%;
  }
}

.input-container.has-error input {
  border: 2px solid red;
}

.error-message {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: red;
  font-size: 12px;
}

.button {
  position: relative;
  overflow: hidden;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 20px;
  background: var(--shades);
  background-size: 400%;
  color: var(--primary-text);
  border: none;
  cursor: pointer;

  margin-bottom: 5%;
}

.button:hover::before {
  transform: scaleX(1);
  color: var(--primary-text);
}

.button-content {
  position: relative;
  z-index: 1;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    var(--secondary) 12.8%,
    #f57500 90.3%
  );
  transition: all 0.475s;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.button:disabled {
  cursor: not-allowed;
}

.close-button {
  position: absolute;
  top: 0px;
  right: 20px;
  background: none;
  border: 1px solid transparent;
  font-size: 50px;
  color: var(--primary-text);
  cursor: pointer;
  padding: 5px;
}

.close-button:hover {
  color: var(--secondary);

  transition: color 0.3s ease-in-out;
}

.password-toggle {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: var(--primary-text);
  display: flex;
  align-items: center;
}

.password-toggle svg {
  fill: currentColor;
  width: 20px;
  height: 20px;
}