.reset-password-container {
  margin-top: 15px;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  position: relative;
  overflow: hidden;
  width: 70svw;
  height: 60vh;
  max-width: 100%;
}

form {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

h1 {
  color: #333;
  font-family: 'Inter-Bold';
  
}

span {
  font-size: 12px;
  margin-bottom: 20px;
}

.input-container {
  position: relative;
  width: 50%;
  margin: 6px 0;
}

input {
  background-color: #eee;
  border: none;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 8px;
  width: 100%;
  outline: none;
  padding-right: 25px; /* Make space for the eye icon */
}

.input-container.has-error input {
  border: 2px solid red;
}

.error-message {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: red;
  font-size: 12px;
}

button {
  background-color: #004ebd;
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  margin-top: 10px;
  cursor: pointer;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.close-button {
  position: absolute;
  top: 0px;
  right: 20px;
  background: none;
  border: 1px solid transparent;
  font-size: 50px;
  color: #333;
  cursor: pointer;
  padding: 5px;
}

.close-button:hover {
  color: #0f50b3;
}

.password-toggle {
  position: absolute;
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #141313;
  display: flex;
  align-items: center;
}

.password-toggle svg {
  fill: currentColor;
  width: 20px;
  height: 20px;
}

.password-toggle:hover {
  color: #333;
}