/* dark mode */
[data-theme="dark"] {
  --background: #212121;
  --card: #181818;
  --border: #212121;
  --table-header: #212121;
  --primary-text: #f6f6f6;
  --secondary-text: #9ca3af;
}

body, html {
  margin: 0;
  padding: 0;
}

.app-component {
  margin-top: 0;
  padding-top: 0;
}

.generic {

  display: grid;
  grid-template-rows: auto auto auto auto;
  min-height: 100svh;

}

.router {
  min-height: 100svh;
  box-sizing: border-box;
}

.footer {
  box-sizing: border-box;
}

.prova {
  background-image: url("https://www.youtube.com/watch?v=VGmiB9ILQDI");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
}