<app-navbar 
  [cartCount]="cartCount"
  (toggleCartEvent)="toggleCart()"
  (toggleHamburgerEvent)="toggleHamburger()"
  (routeChanged)="onRouteChange($event)">
</app-navbar>

<app-header *ngIf="currentRoute === 'home'"></app-header>

<!-- Route outlet -->
<router-outlet> 
  
  <div *ngIf="weatherData">

    <h1>Meteo a {{ weatherData.name }}</h1>
    <p>Temperatura: {{ weatherData.main.temp }}°C</p>
    <p>Descrizione: {{ weatherData.weather[0].description }}</p>
    <p>Umidità: {{ weatherData.main.humidity }}%</p>
    <p>Vento: {{ weatherData.wind.speed }} m/s</p>

  </div>

</router-outlet>

  <!-- Finestra del Carrello - Spostato fuori dal router-outlet -->
  <div class="cart-overlay" [class.open]="isCartOpen">

    <div class="overlay-background" (click)="toggleCart()"></div>

    <div class="cart-container">

      <button class="close-button" (click)="toggleCart()">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512" width="20" height="20">
          <path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.19 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.19 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"/>
        </svg>
      </button>

      <!-- Contenuto del carrello -->
      <h2 style="font-family: 'inter-bold';">Il tuo Carrello 🛒</h2>
  
      <ng-container *ngIf="cartItems.length > 0; else emptyCart">

        <ul class="cart-items">
  
          <li *ngFor="let item of cartItems">
  
            <img [src]="item.product.imageUrl || 'https://it.fiido.com/cdn/shop/files/x.png?v=1703580201&width=450'"
              alt="{{ item.product.name }}" class="cart-item-image">
  
            <div class="cart-item-details">
  
              <h3>{{ item.product.name }}</h3>
              <p>Prezzo: {{ item.product.listPrice | currency }}</p>
  
              <div class="quantity-control">
  
                <button (click)="updateQuantity(item.product.productId!, item.quantity - 1)"
                  [disabled]="item.quantity <= 1">-</button>
  
                <span>{{ item.quantity }}</span>
  
                <button (click)="updateQuantity(item.product.productId!, item.quantity + 1)">+</button>
  
              </div>
  
              <button class="remove-button" (click)="removeItem(item.product.productId!)">
  
                <svg viewBox="0 0 448 512" class="svgIcon">
  
                  <path
                    d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z">
                  </path>
  
                </svg>
  
              </button>
  
            </div>
  
          </li>
  
        </ul>

        <p class="total-price">Totale: {{ calculateTotal() | currency }} 🧾</p>
        <button class="clear-cart" (click)="clearCart()">Svuota Carrello</button>

      </ng-container>
  
      <ng-template #emptyCart>

        <div class="empty-cart-message">
          <p>Nessun articolo nel carrello ❌</p>
        </div>

      </ng-template>

    </div>

  </div>

  <div class="hamburger-overlay" [class.open]="isHamburgerOpen" *ngIf="isHamburgerOpen && isTabletScreen">

    <div class="overlay-background" (click)="toggleHamburger()"></div>

    <ul class="hamburger-container">

      <button class="close-button" (click)="toggleHamburger()">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512" width="20" height="20">
          <path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.19 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.19 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"/>
        </svg>
      </button>

      <li class="nav__item">
        <button class="nav__link nav__button" aria-label="Espandi" aria-expanded="false">
          <a routerLink="home">Home 🏠</a>
        </button>
      </li>

      <li class="nav__item-dropdown" (click)="toggleDropdown('category', $event)">

        <button class="nav__link nav__button" aria-label="Espandi" aria-expanded="false">

          <a>Categorie 📂</a>

          <svg xmlns="http://www.w3.org/2000/svg" class="icon-dropdown" aria-hidden="true" role="img"
            class="nav__icon" width="16" height="16" viewBox="0 0 12 12"
            [ngStyle]="{'transform': isDropdownOpen['category'] ? 'rotate(180deg)' : 'rotate(0deg)', 'transition': 'transform 0.2s ease-in-out'}">

            <path fill="currentColor"
              d="M6 8.825c-.2 0-.4-.1-.5-.2l-3.3-3.3c-.3-.3-.3-.8 0-1.1s.8-.3 1.1 0l2.7 2.7l2.7-2.7c.3-.3.8-.3 1.1 0s.3.8 0 1.1l-3.2 3.2q-.3.3-.6.3">
            </path>

          </svg>

        </button>

        <div class="category-menu-hamburger" *ngIf="isDropdownOpen['category']">
          
          <ul>

            <li *ngFor="let category of categories">

              <a class="nav__link-hamburger" routerLink="/categories/{{category.productCategoryId}}">
                {{category.name}}
              </a>

            </li>

          </ul>

        </div>

      </li>

      <li class="nav__item">

        <button class="nav__link nav__button" aria-label="Espandi" aria-expanded="false">
          <a routerLink="contact">Contatti 📞</a>
        </button>

      </li>

      <li class="nav__item">

        <button class="nav__link nav__button" aria-label="Espandi" aria-expanded="false">
          <a (click)="toggleCart()">Carrello 🛒</a>
        </button>

      </li>

      <li class="nav__item-dropdown" (click)="toggleDropdown('profile', $event)">

        <button class="nav__link nav__button" aria-label="Espandi" aria-expanded="false">

          <a>Azioni Profilo 🚴🏽</a>

          <svg xmlns="http://www.w3.org/2000/svg" class="icon-dropdown" aria-hidden="true" role="img"
            class="nav__icon" width="16" height="16" viewBox="0 0 12 12"
            [ngStyle]="{'transform': isDropdownOpen['profile'] ? 'rotate(180deg)' : 'rotate(0deg)', 'transition': 'transform 0.2s ease-in-out'}">

            <path fill="currentColor"
              d="M6 8.825c-.2 0-.4-.1-.5-.2l-3.3-3.3c-.3-.3-.3-.8 0-1.1s.8-.3 1.1 0l2.7 2.7l2.7-2.7c.3-.3.8-.3 1.1 0s.3.8 0 1.1l-3.2 3.2q-.3.3-.6.3">
            </path>

          </svg>

        </button>

        <div class="category-menu-hamburger" *ngIf="isDropdownOpen['profile']">
          
          <ul>

            <li class="nav__item">

              <a class="nav__link-hamburger" routerLink="/profile/{{authUser.emailAddress}}" *ngIf="isAuthenticated">
                Il mio Profilo 👨🏽
              </a>

            </li>

            <li class="nav__item">

              <a class="nav__link-hamburger" routerLink="/login" *ngIf="!isAuthenticated">
                Login/Register 🔐
              </a>

            </li>

            <li  class="nav__item" *ngIf="authUser.role.trim() == 'ADMIN'">

              <a class="nav__link-hamburger" routerLink="/administration/{{authUser.emailAddress}}">
                Admin Hub 👨🏽‍💻
              </a>

            </li>

            <li class="nav__item">

              <a class="nav__link-hamburger" (click)="logout()" *ngIf="isAuthenticated">
                Logout ❌
              </a>

            </li>

          </ul>

        </div>

      </li>

    </ul>

  </div>

<!-- footer component -->
<app-footer *ngIf="ShowFooter()"></app-footer>