    <!-- navbar component here -->
    <app-navbar (routeChanged)="onRouteChange($event)"></app-navbar>

    <!-- header component here -->
    <app-header *ngIf="currentRoute === 'home' || currentRoute === 'home#home'"></app-header>

    
    <div class="router" >
        <!-- Route outlet for dynamic content -->
        <router-outlet></router-outlet>
    </div>

    <div class="footer">
        <!-- footer component here -->
        <app-footer></app-footer>
    </div>

    <!-- loading spinner component here -->
    <!-- <app-load-redirect *ngIf="loading"></app-load-redirect> -->

