/* dark mode */
[data-theme="dark"] {
  --background: #212121;
  --card: #181818;
  --border: #212121;
  --table-header: #212121;
  --primary-text: #f6f6f6;
  --secondary-text: #9ca3af;
}

.generic {

  display: grid;
  grid-template-rows: auto auto auto auto;
  min-height: 100svh;

}

.footer{
  margin-top: 200px;
}

.router {
  min-height: 100svh;
  box-sizing: border-box;
}