<section class="search-results">
    <h2>Risultati della Ricerca per "{{ searchTerm }}"</h2>
    
    <div *ngIf="paginatedProducts.length > 0; else noResults">
      <div class="category-container">
        <!-- Products Display Area -->
        <main class="products">
          <div class="product-card" *ngFor="let product of paginatedProducts">
            <div class="product-container">
              <div class="product-top">
                <!-- Immagine del prodotto -->
                <img [src]="product.imageUrl || 'path/to/default-image.jpg'" alt="{{ product.name }}" class="product-image">
              </div>
              <div class="product-info">
                <div class="product-details">
                  <p class="product-name">{{ product.name }}</p>
                  <p class="product-price">{{ product.listPrice }}€</p>
                </div>
                <button class="add-to-cart-btn" 
                        (click)="addProductToCart(product)" 
                        [attr.aria-label]="'Aggiungi ' + product.name + ' al carrello'">
                  <i class="fa-solid fa-cart-plus"></i>
                </button>
              </div>
            </div>
            <div class="product-details-info">
              <div class="info-icon">
                <i class="fa-solid fa-circle-info"></i>
              </div>
              <div class="info-contents">
                <table>
                  <tr>
                    <th>Color</th>
                    <th>Size</th>
                    <th>Weight</th>
                  </tr>
                  <tr>
                    <td>{{ product.color || "N/A" }}</td>
                    <td>{{ product.size || "N/A" }}</td>
                    <td>{{ product.weight || "N/A" }}</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
    
    <ng-template #noResults>
      <p>Nessun prodotto trovato per "{{ searchTerm }}".</p>
    </ng-template>
    <!-- Controlli di Paginazione -->
    <div class="pagination">
      <button (click)="prevPage()" [disabled]="currentPage === 1">Precedente</button>
       
      <button
        *ngFor="let page of [].constructor(totalPages); let i = index" 
        (click)="goToPage(i + 1)" 
        [class.active]="currentPage === (i + 1)">
        {{ i + 1 }}
      </button>
      
      <button (click)="nextPage()" [disabled]="currentPage === totalPages">Successiva</button>
    </div>
  </section>