/* You can add global styles to this file, and also import other style files */
@font-face {
	font-family: 'inter-bold';
	src: url('assets/fonts/Inter-Bold.ttf') format('ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'inter-regular';
	src: url('assets/fonts/Inter-Regular.ttf') format('tff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'contour-generator';
	src: url('assets/fonts/Contour\ Generator.otf') format('off');
	font-weight: bold;
	font-style: normal;
}

:root {

	--primary: rgba(37, 37, 37, 1.0);
	--secondary: rgba(252, 41, 74, 1.0);
	--shades: rgba(238, 238, 238, 1.0);

}

* {

	scroll-behavior: smooth;

}

body {

	font-family: 'Source Code Pro', monospace;
	line-height: 1.6;
	margin: 0;

}